@import "../colors";
.welcome-page-title {
  font-size: 25px;
  margin-top: 120px;
  padding-bottom: 20px;
}

.show-link {
  font-size: 14px;
  color: $dell-blue;
  cursor: pointer;
  margin-top: -10px;
}
