.appliances-header {
    display: flex;
    background-color: #DBE9F4;
    align-items: center;
    height: 100px;
}

.available-appliances-title {
    font-size: 22px; /*margin-left: 10px;*/
    margin-left: 15px;
}

.available-appliances-rescan {
    margin-left: auto;
}

.available-appliances-rescan-text {
    margin-right: 15px;
    padding-left: 5px;
    cursor: pointer;
}

.appliances-list {
    padding-top: 50px;
}

.change-available-configured {
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    padding-top: 15px;
}
