.appliances-header {
    background-color: #DBE9F4;
    height: 100px;
}

.available-appliances-title {
    font-size: 22px; /*margin-left: 10px;*/
    padding: 10px;
    top: 22px;
}

.available-appliances-rescan {
    top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.available-appliances-rescan-text {
    top: 25px;
    margin-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}
