.appliances-header {
    display: flex;
    background-color: #DBE9F4;
    align-items: center;
    height: 100px;
}

.available-appliances-title {
    font-size: 22px; /*margin-left: 10px;*/
    margin-left: 15px;
}

.available-appliances-rescan {
    margin-left: auto;
}

.available-appliances-rescan-text {
    margin-right: 15px;
    padding-left: 5px;
    cursor: pointer;
}
