@font-face {
    font-family: Metropolis;
    font-weight: lighter;
    src: url("../fonts/metropolis/Metropolis-Light.otf");
}

@font-face {
    font-family: Metropolis;
    font-weight: normal;
    src: url("../fonts//metropolis/Metropolis-Regular.otf")
}

/******NEW UI********/
.header {
    background-color: #007DB8; /*dell blue*/
}

.logo {
    width: 108px;
    height: 22px;
    cursor: pointer;
    background: url('../images/Dell_EMC_Logo_white.svg') no-repeat;
    margin-left: 20px;
}

.vertical-line {
    height: 30px;
    border-left: 1px white solid;
}

.application-title {
    font-size: 20px;
    color: white;
    font-family: Metropolis, serif;
}

#appTitle {
    color: white;
}
/***********************/

#header {
    width: 100%;
    height: 60px;
    display: -moz-box;
    display: -webkit-box;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;

    -moz-box-pack: justify;
    -webkit-box-pack: justify;
    -moz-box-align: center;
    -webkit-box-align: center;

    background-color: #16609e;
    margin: 0px;
}

#headerSigns {
    height: 100%;
    display: -moz-box;
    display: -webkit-box;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;

    -moz-box-pack: start;
    -webkit-box-pack: start;
    -moz-box-align: center;
    -webkit-box-align: center;
}

#DELL_EMC {
    -moz-box-flex: 0;
    -webkit-box-flex: 0;

    /* font-weight: bold; */
    border-right: 1.5px solid #3374aa;

    padding: 3px 20px;
    margin-left: 20px;
}

#CycSign {
    height: min-content;
    font-size: 35px;
    color: #f8fafc;
    font-family: Metropolis;
    font-weight: 100;

    -moz-box-flex: 0;
    -webkit-box-flex: 0;

    margin-left: 20px;
    margin-right: 25px;
}

#Dashboard {
    height: 100%;
    padding: 10px 30px;

    font-size: 25px;
    color: #f6f8fa;
    font-family: Metropolis;
    font-weight: lighter;

}

#Dashboard:hover {
    background-color: #125289;
}

#headerSettings {
    display: -moz-box;
    display: -webkit-box;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-flex: 0;
    -webkit-box-flex: 0;

    -moz-box-pack: end;
    -webkit-box-pack: end;
    -moz-box-align: center;
    -webkit-box-align: center;

    width: 250px;
    height: 100%;
}

#Gear, #Help {
    height: 100%;
    width: 60px;
    margin-right: 20px;
    margin-left: 25px;
    padding: 16px 21px 21px 21px;
}

#Gear:hover, #Help:hover {
    background-color: #125289;
}

#searchLine:enabled {
    outline: none;
}
