body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    min-width: 300px;
    height: 100%;
    display: -moz-box;
    display: -webkit-box;
    -moz-box-pack: center;
    -webkit-box-pack: center;

    background-color: #F9F9F9;
}

#wrapper {
    display: -moz-box;
    display: -webkit-box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

#mainField {
    /* border: 2px dotted blue; */
    display: -moz-box;
    display: -webkit-box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    background-color: #f4f4f5;
    /* border: 2px solid yellow; */
}

.gridContainer {
    display: -moz-box;
    display: -webkit-box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-pack: start;
    -webkit-box-pack: start;
    -moz-box-align: start;
    -webkit-box-align: start;

    height: 45vh;
    overflow-y: auto;

    background-color: white;
    padding-left: 20px;
    padding-top: -10px;
}

.loading {
    height: 70vh;
    background-color: white;
}

#imgLoad {
    height: 200px;
}

#loadPic {
    width: 50%;
    float: left;
    margin-top: 16%;
    padding-left: 32%;
}

.loadGif {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#searchText {
    width: 50%;
    float: left;
    font-family: Metropolis;
    font-size: 26px;
    font-weight: 500;
    margin-top: 19%;
}

.gridEl {
    margin-bottom: 15px;
    border: none;
}

/* Because of the use of the bootstrap, references when hovering are underlined */
.box {
    display: -moz-box;
    display: -webkit-box;
    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-align: center;
    -webkit-box-align: center;

    border: 2px solid;
    border-color: #e8e8e8;
    border-radius: 3px;
    background-color: #e8e8e8;

    height: 60px;
    margin-top: 5%;
    color: #5e5e5e;
    transition: ease-out 0.1s;

    font-family: Metropolis;
    font-size: 11px;
    font-weight: 600;
}

.box:hover {
    border-color: #cde6f1;
    text-decoration: none;
    color: #5e5e5e;
}

.box:focus {
    background-color: #cde6f1;
    border-color: #cde6f1;
    transition: ease-out 0.1s;
}

.box:last-child {
    margin-bottom: 0;
}

.boxStateIcon {
    width: 30px;
    height: 30px;
    margin: 0px 0px 0px 15px;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.boxInfo {
    margin: 0px 0px 0px 25px;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
}

.boxInfo:focus {
    text-decoration: none;
    color: #ffffff;
}

.boxInfoIcon {
    margin-right: 15px;
    width: 30px;
    height: 30px;
}

#modalpopup, #joinpopup {
    position: absolute;
    z-index: 1;
    display: inline-block;
    visibility: hidden;
    height: 100%;
    left: 100%;
    background-color: white;
    border: 1px solid #c7c7c7;
    width: 40%;
    opacity: 0.0;
}

/* ************** New styles for innerHeader ************** */
#innerHeader {
    /* height: 100%; */
    width: 100%;
    display: -moz-box;
    display: -webkit-box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;

    -moz-box-pack: start;
    -webkit-box-pack: start;
    -moz-box-align: start;
    -webkit-box-align: start;

    padding: 60px 70px 0px 70px;

    background-color: #f4f4f5;
    /* border: 2px solid blue; */
}

#ApplianceSign {
    margin-bottom: 20px;

    font-size: 35px;
    color: #4d4d4d;
    font-family: Metropolis;

    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    /* border: 2px solid yellow; */
}

#configFilters {
    margin: 0px;
    width: 100%;
    height: 30px;
    display: -moz-box;
    display: -webkit-box;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;

    -moz-box-pack: start;
    -webkit-box-pack: start;

    /* border: 2px solid red; */
}

.confFilt {
    -moz-box-flex: 0;
    -webkit-box-flex: 0;

    padding: 5px 30px;
    text-align: center;
    /* border-bottom: none; */
    /* border: 1px solid red; */
    font-size: 13px;
    font-family: Metropolis;
    font-weight: bold;

    border-bottom: 1.5px solid #e9e9ea;
}

.confFilt:hover {
    border-bottom: 2px solid #2790c3;
    color: #248dc0;
}

#confFiltUnderline {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    border-bottom: 1.5px solid #e9e9ea;
}

/* ************** New styles for representation header ************** */

#representation {
    width: 100%;
    height: 60%;

    display: -moz-box;
    display: -webkit-box;

    -moz-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;

    -moz-box-pack: start;
    -webkit-box-pack: start;

    padding: 20px 70px 60px 70px;
    background-color: #f4f4f5
}

#reprHeader {
    width: 100%;
    background-color: white;
}

.gridForHead {
    display: -moz-box;
    display: -webkit-box;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-flex: 0;
    -webkit-box-flex: 0;

    -moz-box-pack: start;
    -webkit-box-pack: start;
    -moz-box-align: center;
    -webkit-box-align: center;
}

#search {
    height: 100%;
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    /* border: 1px dotted green; */
}

#searchLine {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;

    font-family: Metropolis;
    color: #999999;

    text-align: justify;
    vertical-align: center;
    height: 30px;
    /* min-width: 280px; */
    width: 300px;
    padding-left: 10px;
    margin: 10px 0 10px 32px;

    text-overflow: ellipsis;
    border: 1.5px solid #d2d1d0;
}

::-webkit-input-placeholder {
    color: #999999;
}

::-moz-placeholder {
    color: #999999;
}

/* Firefox 19+ */
:-moz-placeholder {
    color: #999999;
}

/* Firefox 18- */
:-ms-input-placeholder {
    color: #999999;
}

#typeFilters {
    /* height: 100%; */
    /* width: 150px; */
    min-width: 100px;

    display: -moz-box;
    display: -webkit-box;

    -moz-box-orient: horizontal;
    -webkit-box-orient: horizontal;
    -moz-box-flex: 0;
    -webkit-box-flex: 0;

    -moz-box-pack: center;
    -webkit-box-pack: center;
    -moz-box-align: center;
    -webkit-box-align: center;

    /* border: 1px dotted red; */
    border: 1.5px solid #248dc0;
    border-radius: 3px;
    margin: 10px 0;
    width: 140px;
    float: right;
}

.typeFilt {
    -moz-box-flex: 0;
    -webkit-box-flex: 0;

    padding: 3px 11px;
    text-align: center;

    font-size: 11px;
    color: #248dc0;
    font-family: Metropolis;
    font-weight: bold;
    /* border: 1px solid #248dc0; */
}

.typeFilt:hover {
    color: white;
    background-color: #248dc0;
}

.typeFiltMiddle {
    border-left: 1.5px solid #248dc0;
    border-right: 1.5px solid #248dc0;
}

#buttonCreate {
    min-width: 185px;

    padding: 3px 25px;
    margin: 10px 10px 10px 32px;

    border: 1.5px solid #248dc0;
    border-radius: 3px;

    font-size: 11px;
    color: #248dc0;
    font-family: Metropolis;
    font-weight: bold;
}

#buttonJoin {
    min-width: 185px;

    padding: 3px 25px;
    margin: 10px 10px 10px 10px;

    border: 1.5px solid #248dc0;
    border-radius: 3px;

    font-size: 11px;
    color: #248dc0;
    font-family: Metropolis;
    font-weight: bold;
}

#buttonRenew {
    margin: 10px 20px 10px 20px;
    padding: 2px;
    border-radius: 5px;
    width: 30px;
}

#buttonRenew:hover {
    background-color: #f6f6f6;
}
