
//dell primary colors
$dell-blue: #007DB8;
$dell-green: #6EA204;
$dell-yellow: #F2AF00;
$dell-red: #CE1126;
$dell-white: #fff;


//dell secondary colors
$dell-light-blue: #CCE5F1;
$dell-light-blue2: #6BACDE;
$dell-medium-blue: #16609E;
$dell-dark-blue: #00447C;
$dell-teal: #42AEAF;
$dell-light-teal: #7ddadb;
$dell-chartreuse: #C1D82F;
$dell-light-green: #c1d82f;
$dell-orange: #EE6411;
$dell-coral: #D74324;
$dell-berry: #B7295A;
$dell-mauve: #de848d;
$dell-purple: #6E2585;
$dell-light-brown: #a48357;
$dell-chocolate: #71523e;
